<div class="bicycle-form-container">
  <h1>Dodaj nowy rower</h1>

  <form [formGroup]="bicycleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="brand">Marka*</label>
      <div class="autocomplete-wrapper">
        <input
          type="text"
          id="brand"
          formControlName="brand"
          placeholder="Wpisz markę roweru"
          [class.is-invalid]="isFieldInvalid('brand')"
          (input)="onBrandInput()"
          (focus)="onBrandFocus()"
          (blur)="onBrandBlur()"
          autocomplete="off"
        >
        <button
          type="button"
          class="autocomplete-toggle"
          (mousedown)="toggleBrandDropdown($event)"
          tabindex="-1"
        >
          <svg width="20" height="20" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 10l5 5 5-5z"/>
          </svg>
        </button>
        <ul class="autocomplete-dropdown" *ngIf="showBrandDropdown && filteredBrands.length > 0">
          <li
            *ngFor="let brand of filteredBrands"
            (mousedown)="selectBrand(brand)"
            [class.highlighted]="brand === bicycleForm.get('brand')?.value"
          >
            {{ brand }}
          </li>
        </ul>
      </div>
      <div *ngIf="isFieldInvalid('brand')" class="error-message">
        Marka jest wymagana
      </div>
    </div>

    <div class="form-group">
      <label for="model">Model</label>
      <input
        type="text"
        id="model"
        formControlName="model"
        placeholder="Wpisz model roweru"
      >
    </div>

    <div class="form-group">
      <label for="type">Typ roweru</label>
      <select
        id="type"
        formControlName="type"
        [attr.disabled]="loadingTypes ? '' : null"
      >
        <option value="">-- Wybierz typ --</option>
        <option *ngIf="loadingTypes" value="" disabled>Ładowanie...</option>
        <option *ngFor="let type of bikeTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="frameMaterial">Materiał ramy</label>
      <select
        id="frameMaterial"
        formControlName="frameMaterial"
        [attr.disabled]="loadingMaterials ? '' : null"
      >
        <option value="">-- Wybierz materiał --</option>
        <option *ngIf="loadingMaterials" value="" disabled>Ładowanie...</option>
        <option *ngFor="let material of frameMaterials" [value]="material">{{ material }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="frameNumber">Numer ramy</label>
      <input
        type="text"
        id="frameNumber"
        formControlName="frameNumber"
        placeholder="Wpisz numer ramy"
      >
    </div>

    <div class="form-group">
      <label for="productionDate">Rok produkcji</label>
      <input
        type="date"
        id="productionDate"
        formControlName="productionDate"
      >
    </div>

    <div class="form-group">
      <label for="photo">Zdjęcie roweru (maks. 10MB, zostanie skompresowane do WebP)</label>
      <input
        type="file"
        id="photo"
        accept="image/jpeg,image/png,image/webp"
        (change)="onFileSelected($event)"
      >
      <div *ngIf="photoError" class="error-message">
        {{ photoError }}
      </div>

      <div *ngIf="selectedFile" class="photo-preview">
        <img [src]="previewUrl" alt="Podgląd zdjęcia roweru">
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="cancel-btn" (click)="goBack()">Anuluj</button>
      <button
        type="submit"
        class="submit-btn"
        [disabled]="bicycleForm.invalid || isSubmitting || loadingBrands || loadingTypes || loadingMaterials"
      >
        {{ isSubmitting ? 'Dodawanie...' : 'Dodaj rower' }}
      </button>
    </div>
  </form>
</div>
