<div
  class="order-bar"
  [class.compact]="compact"
  [class.has-action]="actionButton !== null"
  [style.border-left-color]="barStatusColor"
  (click)="onClick($event)"
>
  <div class="order-main">
    <div class="order-bike-line">
      <span class="order-brand">{{ bikeBrand }}</span>
      <span class="order-model" *ngIf="bikeModel">&nbsp;{{ bikeModel }}</span>
    </div>
    <span class="order-customer" *ngIf="customerName">{{ customerName }}</span>
  </div>

  <button
    *ngIf="actionButton"
    class="action-btn"
    [style.background]="actionButtonColor"
    (click)="onActionClick($event)"
    [title]="actionButtonLabel"
  >{{ actionButtonLabel }}</button>
</div>
