<div class="container">
    <h1>SamaRama - Serwisy rowerowe</h1>
    
    <div *ngIf="isBrowser; else serverFallback">
      <div id="map" class="map-container"></div>
      
      <div class="loading-message" *ngIf="loading">
        Ładowanie mapy...
      </div>
      
      <div class="error-message" *ngIf="error">
        {{ error }}
      </div>

      <div class="info-message" *ngIf="coordinates.length && !loading">
        Znaleziono {{ coordinates.length }} serwisów
      </div>
      <div class="info-message" *ngIf="coordinates.length === 0 && !loading && !error">
        Nie znaleziono żadnych serwisów
      </div>
    </div>
    
    <ng-template #serverFallback>
      <div class="server-message">
        Mapa zostanie załadowana po pełnym załadowaniu strony...
      </div>
    </ng-template>
  </div>