/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-marker-shadow {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png);
}

/* Dodatkowe style do zarządzania nawigacją mobilną */
body.overflow-hidden {
  overflow: hidden;
}

/* Ogólne style responsywne */
@media screen and (max-width: 768px) {
  .content-container {
    padding-top: 60px; 
  }
  
  h1 {
    font-size: 1.5rem !important;
  }
  
  .container {
    padding: 15px 10px !important;
  }
  
  button {
    padding: 8px 16px !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
